<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
</head>

<body>
	<h1>HelloWorld AngularJS Application</h1>

	<div ng-app="" ng-init="persons = [{fname:'Chang', lname:'Jeff'},
                            {fname:'Lin', lname:'Peter'},
                            {fname:'Tsai', lname:'Jill'}]">
		<p>Please Enter your Name:
			<input type="text" ng-model="name">
		</p>
		<p>Hello,
			<span ng-bind="name"></span>!</p>
		<ol>
			<li ng-repeat="person in persons">
				{{ 'First Name :' + person.fname + ', Last Name :' + person.lname }}
			</li>
		</ol>
	</div>
</body>

</html>
