<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div> Month:
  <select (change)="changeMonths($event)">
    <option *ngFor="let i of months">{{ i }}</option>
  </select>
</div>
<div>
  <span *ngIf="isavailable; then condition1 else condition2"></span>
  <ng-template #condition1>Condition is valid.</ng-template>
  <ng-template #condition2>Condition is invalid.</ng-template>
</div>
<button (click)="clickFunction($event)">
  Click Me
</button>
<app-cmp></app-cmp>
<!-- <h1>
  <div style="text-align: centor">
    <span appChangeText>Welcome to {{ title }}</span><br>
    <b>{{ title | uppercase}}</b><br>
    <b>{{ title | lowercase}}</b><br>
  </div>
</h1> -->

<!-- <div style="width: 100%">
  <div style="width: 40%;float:left;border:solid 1px black;">
    <h1>Currency Pipe</h1>
    <b>{{ 6589.23 | currency:"USD" }}</b><br>
    <b>{{ 6589.23 | currency:"USD":true }}</b><br>

    <h1>Date Pipe</h1>
    <b>{{ todaydate | date:'d/M/y' }}</b><br>
    <b>{{ todaydate | date:'shortTime' }}</b><br>

    <h1>Decimal Pipe</h1>
    <b>{{ 454.78915 | number: '3.4-4' }}</b>
  </div>
  <div style="width: 40%;float:left;border:solid 1px black;">
    <h1>Json Pipe</h1>
    <b>{{ jsonval | json }}</b>

    <h1>Percent Pipe</h1>
    <b>{{ 00.54565 | percent }}</b>

    <h1>Slice Pipe</h1>
    <b>{{ months | slice:2:6 }}</b>

    <h1>Custom Pipe</h1>
    <b>Square root of 25 is: {{25 | sqrt}}</b><br>
    <b>Square root of 729 is: {{729 | sqrt}}</b>
  </div>
</div> -->

<!-- <br><br>
<div>
  <a routerLink = "cmp">new component</a><br>
  <router-outlet></router-outlet>
</div> -->

{{ todaydate }}
